<div class="nav-container">
    <div>
        <a href="/">
            <img src="../static/images/logo.png" alt="Flavoured Adventures logo" id="logo-pic">

        </a>
    </div>

    <div>
        <h1 class="logo">Flavoured Adventures</h1>
        <p class="slogan">A journey for your buds</p>
    </div>

    <div>
        {% if request.user.is_authenticated %}
        <h4 class="login">You are logged in as {{request.user}}</h4>
        <a href="{% url 'logout' %}" class="login-btn">Logout</a>
        {% else %}
        <h4 class="login">You are currently not logged in</h4>
        <a href="{% url 'login' %}" class="login-btn">Login</a>
        {% endif %}
    </div>

</div>

<hr>

<form method="GET" action="{% url 'home' %}">
    <input type="text" name="q" placeholder="Search Recipies..." id="search">
</form>