<div class="nav-container">
    <div>
        <a href="/">
            {% if page == 'home' %}
            <img src="../static/images/logo.png" alt="Flavoured Adventures logo" id="logo-pic">
            {% else %}
            <img src="../../static/images/logo.png" alt="Flavoured Adventures logo" id="logo-pic">
            {% endif %}
        </a>
        <form method="GET" action="{% url 'home' %}">
            <div class="search-container">
                <span>
                    <i class="fa-solid fa-magnifying-glass" style="color: #800000;"></i>
                </span>
                <span class="search">
                    
                    <input type="text" name="q" placeholder="Search Recipies..." id="search">
                </span>
            </div>



        </form>
    </div>

    <div>
        <a href="/"><h1 class="logo">Flavoured Adventures</h1></a>
        <p class="slogan">"A journey for your buds"</p>
    </div>

    <div class="login-container">
        {% if request.user.is_authenticated %}
        <span class="login-btn">
            <a href="{% url 'logout' %}" class="login-btn-txt">Logout</a>
        </span>
        <h4 class="login">You are logged in as {{request.user}}</h4>
        {% else %}
        <span class="login-btn">
            <a href="{% url 'login' %}" class="login-btn-txt">Login</a>
        </span>
        <h4 class="login">You are currently not logged in</h4>
        {% endif %}
        <a href="{% url 'create-recipe' %}" style="color: black; text-decoration: underline;">Create Recipe</a>
    </div>

</div>
