<h3 class="side-title-right">Recent Activity</h3>
        {% for comment in recipe_comments %}
        <div class="activity">
            <small><a href="{% url 'user-profile' comment.user.id %}">{{comment.user}}</a> - {{comment.created|timesince}} ago</small>
            <small>commented on <a href="/recipe/{{recipe.id}}">"{{comment.recipe}}"</a></small>

            <p>"{{comment}}"</p>
            {% if request.user == comment.user %}
            <a href="{% url 'delete-comment' comment.id %}">Delete</a>
            {% endif %}
        </div>
        <hr>
        {% endfor %}