<div>
    {% for recipe in recipes %}
    <div>
        <span>
            <p>{{recipe.cuisine}}</p>
        </span>
        <div>
            <h2><a href="/recipe/{{recipe.id}}">{{recipe.dish}}</a></h2>
            <p>by <a href="{% url 'user-profile' recipe.user.id %}">{{recipe.user}}</a></p>
        </div>
        <p>{{recipe.description}}</p>
    </div>
    {% if request.user == recipe.user %}
    <a href="{% url 'update-recipe' recipe.id %}">Edit</a>
    <a href="{% url 'delete-recipe' recipe.id %}">Delete</a>
    {% endif %}

    <hr>

    {% endfor %}
</div>