{% extends 'main.html' %}


{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr
    }
</style>


<div class="home-container">

    <div>
        <h3>Browse Cuisines</h3>
        <hr>

        {% for cuisine in cuisines %}
            <div>
                <a href="{% url 'home' %}?q={{cuisine.name}}">{{cuisine.name}}</a>
            </div>
        {% endfor %}
    </div>

    <div>
        <a href="{% url 'create-recipe' %}">Create Recipe</a>

        <div>
            {% for recipe in recipes %}
            <div>
                <a href="{% url 'update-recipe' recipe.id %}">Edit</a>
                <a href="{% url 'delete-recipe' recipe.id %}">Delete</a>
                <span>
                    <p>{{recipe.cuisine}}</p>
                </span>
                <h2>{{recipe.id}} -- <a href="/recipe/{{recipe.id}}">{{recipe.dish}}</a></h2>
                <p>{{recipe.description}}</p>
            </div>

            {% endfor %}
        </div>

    </div>



</div>

{% endblock content %}