{% extends 'main.html' %}


{% block content %}

<style>
    .home-container{
        display: grid;
        grid-template-columns: 1fr 3fr
    }
</style>


<div class="home-container">

    <div>
        <h3>Browse Cuisines</h3>
        <hr>

        <div>
            <a href="{% url 'home' %}">All</a>
        </div>

        {% for cuisine in cuisines %}
            <div>
                <a href="{% url 'home' %}?q={{cuisine.type}}">{{cuisine.type}}</a>
            </div>
        {% endfor %}
    </div>

    <div>
        <h5>{{recipes_count}} recipes available</h5>
        <a href="{% url 'create-recipe' %}">Create Recipe</a>

        <div>
            {% for recipe in recipes %}
            <div>
                {% if request.user == recipe.user %}
                <a href="{% url 'update-recipe' recipe.id %}">Edit</a>
                <a href="{% url 'delete-recipe' recipe.id %}">Delete</a>
                {% endif %}
                <span>
                    <p>{{recipe.cuisine}}</p>
                </span>
                <div>
                    <h2><a href="/recipe/{{recipe.id}}">{{recipe.dish}}</a></h2>
                    <h4>by {{recipe.user}}</h4>
                </div>
                <p>{{recipe.description}}</p>
            </div>

            {% endfor %}
        </div>

    </div>



</div>

{% endblock content %}