{% extends 'main.html' %}


{% block content %}

<h1>Home Template</h1>


<div>

    <a href="{% url 'create-recipe' %}">Create Recipe</a>

    <div>
        {% for recipe in recipes %}
            <div>
                <a href="{% url 'update-recipe' recipe.id %}">Edit</a>
                <a href="{% url 'delete-recipe' recipe.id %}">Delete</a>
                <span><p>{{recipe.cuisine}}</p></span>
                <h2>{{recipe.id}} -- <a href="/recipe/{{recipe.id}}">{{recipe.dish}}</a></h2>
                <p>{{recipe.description}}</p>
            </div>

        {% endfor %}
    </div>

</div>

{% endblock content %}