{% extends 'main.html' %}

{% block content %}

<div class="recipe">
    

    <h1>{{recipe.dish}}</h1>

         <a href="{% url 'user-profile' recipe.user.id %}">by {{recipe.user}}</a>
        <br>
        {% if request.user == recipe.user %}


        <a href="{% url 'update-recipe' recipe.id %}">Edit</a>
        /
        <a href="{% url 'delete-recipe' recipe.id %}">Delete</a>

        {% endif %}
    

    <p>{{recipe.description|linebreaks}}</p>

</div>

<div class="recipe-container">
    <div></div>
    <div class="recipe2 ingredients">
        <h2>Ingredients:</h2>

        {{recipe.ingredients|linebreaks}}
    </div>
    <div></div>
    <div class="recipe2">
        <h2>Method:</h2>
        <br>
        {{recipe.method|linebreaks}}
    </div>
</div>

<hr>

<div class="comment-wrapper">
    <h3>Comments</h3>
    <hr>

    {% for comment in recipe_comments %}
    <div class="recipe-comments">
        <p>"{{comment.body}}"</p>
        <small>- {{comment.user}} {{comment.created|timesince}} ago</small>
        <br>
        {% if request.user == comment.user %}
        <a href="{% url 'delete-comment' comment.id %}">Delete</a>
        {% endif %}
        <hr>
    </div>
    {% endfor %}


    {% if request.user.is_authenticated %}
    <div class="comment-form">
        <form method="POST" action="">
            {% csrf_token %}
            <textarea class="comment-box" rows="5" cols="50" name="body"
                placeholder="Write your comment here..."></textarea>
            <br>
            <input class="submit" type="submit" placeholder="Post Comment">
        </form>
    </div>
    {% endif %}

</div>


{% endblock content %}