{% extends 'main.html' %}

{% block content %}

<div class="recipe">

    <h1>{{recipe.dish}}</h1>

    <p>{{recipe.description}}</p>

</div>

<div class="recipe-container">
    <div></div>
    <div class="recipe2 ingredients">
        <h2>Ingredients:</h2>
        <br>
        {{recipe.ingredients}}
    </div>
    <div></div>
    <div class="recipe2">
        <h2>Method:</h2>
        <br>
        {{recipe.method}}
    </div>
</div>

<hr>

<div class="comment-wrapper">
    <h3>Comments</h3>
    <hr>

    {% for comment in recipe_comments %}
    <div class="recipe-comments">
        <p>"{{comment.body}}"</p>
        <small>- {{comment.user}} {{comment.created|timesince}} ago</small>
        <br>
        {% if request.user == comment.user %}
        <a href="{% url 'delete-comment' comment.id %}">Delete</a>
        {% endif %}
        <hr>
    </div>
    {% endfor %}


    {% if request.user.is_authenticated %}
    <div class="comment-form">
        <form method="POST" action="">
            {% csrf_token %}
            <textarea rows="5" cols="50" name="body" placeholder="Write your comment here..."></textarea>
            <input type="submit" placeholder="Post Comment">
        </form>
    </div>
    {% endif %}

</div>


{% endblock content %}