{% extends 'main.html' %}

{% block content %}

<h1>{{recipe.dish}}</h1>

<p>{{recipe.description}}</p>


<div class="comment-wrapper">
    <h3>Comments</h3>
    <hr>

    {% for comment in recipe_comments %}
        <div>
            <p>{{comment.body}}</p>
            <small>- {{comment.user}}  {{comment.created|timesince}} ago</small>
            <hr>
        </div>
    {% endfor %}

    {% if request.user.is_authenticated %}
    <div class="comment-form">
        <form method="POST" action="">
            {% csrf_token %}
            <textarea rows="5" cols="50" name="body" placeholder="Write your comment here..."></textarea>
            <input type="submit" placeholder="Post Comment">
        </form>
    </div>
    {% endif %}
    
</div>

{% endblock content %}